@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #333;
}

header {
  background: #111;
}

.hlavniPlocha {
  position: relative;
  height: 400px;
  color: #fff;
  text-align: center;
  background: url("hero.jpg") no-repeat center center;
  background-size: cover;
}

.hlavniPlocha:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#111, 0.5);
}

.vnitrniPlocha {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  transform: translateX(-50%) translateY(-50%);
  animation: fade-in 0.75s 0.25s ease-in forwards;
}

.vnitrniPlocha h1 {
  margin: 0;
  font-size: 4em;
  line-height: 1.2em;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.odskrolovano {
  background: #111;
}

nav ul {
  float: right;
  list-style: none;
  padding: 25px;
  margin: 0;
}

nav li {
  float: left;
}

@media screen and (max-width: 600px) {
  nav ul {
    float: none;
  }

  nav li {
    float: none;
    margin-bottom: 10px;
  }
  .vnitrniPlocha h1 {
    margin-top: 100px;
  }
}

nav a {
  font-size: 0.9em;
  color: #fff;
  text-decoration: none;
  margin: 5px 0 0 20px;
  display: block;
}
nav a:hover {
  color: #bbb;
}

section {
  width: 100%;
  margin: 25px auto;
  padding: 20px;
  max-width: 800px;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
  margin-bottom: 100px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

footer {
  padding: 25px 0;
  font-size: 85%;
  background-color: #2a2a2a;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
}

footer a {
  color: #ccc;
}
